BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
REQUIRED_CHANNEL=@conspect_for_easy
CHANNEL_LINK=https://t.me/conspect_for_easy
ADMIN_IDS=123456789
ADMIN_USERNAMES=l1teme,ramzeta
PERMANENT_PRO_PLUS_USERNAMES=l1teme,karbi09,ramzeta
GEMINI_API_KEYS=KEY_1,KEY_2,KEY_3
REDIS_HOST=localhost
REDIS_PORT=6379
